footer {
    padding: 20px 15px;
    background: rgb(255, 168, 0);
    text-align: center;
}

.copyright {
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(255,255,255,0.6);
    font-size: 20px;
}

.footer-navigation {
    @include e('link') {
        font-size: 16px;
        color: rgba(255,255,255,0.6);

        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }
}
