.header-image {
    position: relative;
    padding-bottom: 44%;
    width: 100%;

    background: url(../img/IMG_0502.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
