.top-bar {
    position: fixed;
    width: 100%;
}

.navigation {
    padding-top: 5px;
    &__button {
        a {
            transition: color .1s ease-in-out, background-color .1s ease-in-out;
            border-radius: 7px;

            &:hover {
                color: black;
            }

            &:hover {
               background-color: rgb(255, 130, 0);
            }
        }
    }
}

.logo {
    fill: rgb(255, 168, 0);

    &--navigation {
        padding: 0px 10px;
        width: 50px;
        height: 50px;
    }
}

.active {
    background-color: rgb(255, 168, 0);
    color: black;
}
