.top-bar {
    position: fixed;
    width: 100%;

    &-left {
        li:nth-child(2) {
            font-size: 25px;
            font-family: 'Josefin Sans', sans-serif;
            color: $primary-color;
            padding-top: 5px;
        }
    }
}

.navigation {
    padding-top: 5px;

    &__button {
        a {
            transition: color .1s ease-in-out, background-color .1s ease-in-out;
            border-radius: 7px;
            font-family: 'Josefin Sans', sans-serif;

            &.active {
                background-color: $primary-color;
                color: black;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.logo {
    fill: $primary-color;
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    &--navigation {
        margin: 0px 15px;
        width: 40px;
        height: 40px;
    }
}
