.title {
    padding: 20px 0px;
    margin: 0;
    background-color: rgb(31, 31, 31);

    h1 {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
    }
}

section {
    padding: 60px 0px;

    ul {
        width: 100%;
        background: #e4e4e4;
        border-radius: 5px;
        list-style-type: circle;
        padding: 15px;
        box-shadow: 2px 2px 1px rgba(0,0,0,.3);;

        li {
            margin-left: 15px;
        }
    }

    p {
        text-indent: 1.6em;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
    }
}
